<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器性能监控</title>
    <script src="/static/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script>
        var log = function () {
            console.log(arguments);
        };
        var chart = {};

        chart.ajax = function (url, method, form, response) {
            data = JSON.stringify(form);
            var request = {
                url: url,
                type: method,
                data: data,
                contentType: 'application/json',
                success: function (r) {
                    log('chart get success', url, r);
                    response(r);
                }
            };
            $.ajax(request);
        };

        chart.get = function (url, response) {
            var method = 'get';
            var form = {};
            this.ajax(url, method, form, response);
        };

        chart.recent_cpu = function (response) {
            var path = '/chart/recent/cpu';
            this.get(path, response);
        };

        chart.recent_mem = function (response) {
            var path = '/chart/recent/mem';
            this.get(path, response);
        };

        var cpuDataDict = function (labels, data1, data5, data10) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        label: "cpu 1min平均负载",
                        data: data1,
                        backgroundColor: "rgba(151,187,205,0.2)",
                        borderColor: "rgba(151,187,205,1)",
                        pointBorderColor: "rgba(151,187,205,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    },
                    {
                        label: "cpu 5min平均负载",
                        data: data5,
                        backgroundColor: "rgba(151,227,205,0.3)",
                        borderColor: "rgba(151,227,205,1)",
                        pointBorderColor: "rgba(151,227,205,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    },
                    {
                        label: "cpu 10min平均负载",
                        data: data10,
                        backgroundColor: "rgba(220,220,220,0.4)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBorderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    }
                ]
            };

            var options = {
                responsive: false,
                animation: false,
                scales: {
                    xAxes: [{
                        display: false,
                    }],
                    yAxes: [{}]
                }
            };
            var cpuLineChart = {
                type: 'line',
                data: d,
                options: options
            };
            return cpuLineChart
        };


        var memDataDict = function (labels, data) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                        ]
                    },
                ]
            };

            var options = {
                responsive: false,
                animation: false,
            };
            var memLineChart = {
                type: 'doughnut',
                data: d,
                options: options
            };
            return memLineChart
        };

        var insertMemChart = function () {
            log('insertMemChart start')
            var ctx = document.getElementById("memChart");
            var response = function (r) {
                if (r.success) {
                    var labels = r.labels;
                    var data = r.data;
                    var d = memDataDict(labels, data);
                    linuxMemChart = new Chart(ctx, d);
                } else {
                    log(r.success)
                }

            };
            chart.recent_mem(response);
        };

        var updateMeoData = function () {
            var response = function (r) {
                if (r.success) {
                    var data = r.data;
                    linuxMemChart.data.datasets[0].data = data;
                    linuxMemChart.update();
                } else {
                    log(r.success)
                }

            };
            chart.recent_mem(response);
        };


        var insertCpuChart = function () {
            var ctx = document.getElementById("cpuChart");
            var response = function (r) {
                if (r.success) {
                    var labels = r.labels;
                    var data1 = r.data[0].reverse();
                    var data5 = r.data[1].reverse();
                    var data10 = r.data[2].reverse();
                    var d = cpuDataDict(labels, data1, data5, data10);
                    linuxCpuChart = new Chart(ctx, d);
                } else {
                    log(r.success)
                }

            };
            chart.recent_cpu(response);
        };

        var updateCpuData = function () {
            var response = function (r) {
                if (r.success) {
                    var data1 = r.data[0].reverse();
                    var data5 = r.data[1].reverse();
                    var data10 = r.data[2].reverse();
                    log('dubug', linuxCpuChart);
                    linuxCpuChart.data.datasets[0].data = data1;
                    linuxCpuChart.data.datasets[1].data = data5;
                    linuxCpuChart.data.datasets[2].data = data10;
                    linuxCpuChart.update();
                } else {
                    log('fail')
                }
            };
            chart.recent_cpu(response);
        };

        var __main = function () {
            insertCpuChart();
            insertMemChart();
            setInterval(function () {
                updateCpuData();
                updateMeoData();
            }, 5000);
        };

        $(document).ready(function () {
            __main();
        });
    </script>
</head>
<body>
<h1>服务器信息</h1>
<div id="div1" style="float:left">
    <canvas id="cpuChart" width="600" height="600"></canvas>
</div>
<div id="div3" style="float:left">
    <canvas id="#" width="200" height="400"></canvas>
</div>
<div id="div2" style="float:left">
    <canvas id="memChart" width="600" height="600"></canvas>
</div>
</body>
</html>