<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器性能监控</title>
    <script src="/static/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script>
        var log = function () {
            console.log(arguments);
        };
        var chart = {};

        chart.ajax = function (url, method, form, response) {
            data = JSON.stringify(form);
            var request = {
                url: url,
                type: method,
                data: data,
                contentType: 'application/json',
                success: function (r) {
                    log('chart get success', url, r);
                    response(r);
                }
            };
            $.ajax(request);
        };

        chart.get = function (url, response) {
            var method = 'get';
            var form = {};
            this.ajax(url, method, form, response);
        };

        chart.recent_cpu = function (response) {
            var path = '/chart/recent/cpu';
            this.get(path, response);
        };

        var cpuDataDict = function (labels, data) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        label: "服务器 cpu 信息",
                        data: data,
                        backgroundColor: "rgba(151,187,205,0.2)",
                        borderColor: "rgba(151,187,205,1)",
                        pointBorderColor: "rgba(151,187,205,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    }
                ]
            };

            var options = {
                responsive: false,
                scales: {
                    xAxes: [{
                        display: false
                    }]
                }
            };

            var cpuLineChart = {
                type: 'line',
                data: d,
                options: options
            };
            return cpuLineChart
        };


        var insertCpuChart = function () {
            var ctx = document.getElementById("cpuChart");
            var response = function (r) {
                if (r.success) {
                    var labels = r.labels;
                    var data = r.data.reverse();
                    var d = cpuDataDict(labels, data);
                    linuxCpuChart = new Chart(ctx, d);
                } else {
                    log(r.success)
                }

            };
            chart.recent_cpu(response);
        };

        var __main = function () {
//            insertMacIoChart();
            insertCpuChart();
//              insertDeviceChart();
//            setInterval(function () {
//                updateMacData();
//            }, 1000);
        };

        $(document).ready(function () {
            __main();
        });
    </script>
</head>
<body>
<h1>服务器信息</h1>
<canvas id="cpuChart" width="400" height="400"></canvas>
</body>
</html>